apiVersion: apps/v1
kind: Deployment
metadata:
name: claims-deployment
labels:
app: claims-service
spec:
replicas: 2
selector:
matchLabels:
app: claims-service
template:
metadata:
labels:
app: claims-service
spec:
containers:
- name: claims-container
image: nginx   # TEMP image; Jenkins will update this
ports:
- containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
name: claims-service
spec:
type: LoadBalancer
selector:
app: claims-service
ports:
- port: 80
targetPort: 80
