name: CI-CD


on:
push:
branches: [ main ]
pull_request:
branches: [ main ]


permissions:
contents: read
id-token: write
actions: read


jobs:
build-and-push:
runs-on: ubuntu-latest
steps:
- name: Checkout
uses: actions/checkout@v4


- name: Configure AWS credentials (OIDC)
uses: aws-actions/configure-aws-credentials@v2
with:
role-to-assume: ${{ secrets.GITHUB_OIDC_ROLE_ARN }}
aws-region: ${{ secrets.AWS_REGION }}


- name: Login to ECR
run: |
aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com


- name: Build image
run: |
IMAGE=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/devops-demo-app:${{ github.sha }}
docker build -t $IMAGE ./app/service
docker push $IMAGE


- name: Update kubeconfig
run: |
aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name ${{ secrets.EKS_CLUSTER_NAME }}


- name: Deploy to EKS
run: |
kubectl set image deployment/devops-demo app=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/devops-demo-app:${{ github.sha }} --record || kubectl apply -f k8s/base
